<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>servCadVagas</servlet-name>
        <servlet-class>servCadVagas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serCurriculos</servlet-name>
        <servlet-class>serCurriculos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servCurriculosGeneric</servlet-name>
        <servlet-class>servCurriculosGeneric</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servCurriculoEstagio</servlet-name>
        <servlet-class>servCurriculoEstagio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>servCadVagas</servlet-name>
        <url-pattern>/servCadVagas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serCurriculos</servlet-name>
        <url-pattern>/serCurriculos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servCurriculosGeneric</servlet-name>
        <url-pattern>/servCurriculosGeneric</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servCurriculoEstagio</servlet-name>
        <url-pattern>/servCurriculoEstagio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
